/config.mk
/config.log
/config.h
/include/upipe/config.h
Makefile
!/Makefile
/run

# mkdoc
/doc/html
/doc/dependencies.png

# Qt
/lib/upipe-qt/moc_thumbnail.cpp

# pkg-config
*.pc

# built files
*.o
*.a
*.d
*.so
*.so.*
*.log
*.trs
*.swp
*~

# ctags
/tags

# cscope files
cscope.*

# clang compilation database
/compile_commands.json
