# http://www.gnu.org/software/libtool

/libtool
*.lo
*.la

# http://www.gnu.org/software/automake

Makefile.in
.dirstamp

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/autotools
/config.log
/config.status
/configure
/config.h
/config.h.in
/stamp-h1
Makefile
/include/upipe/config.h

# mkdoc

/doc/html
/doc/dependencies.png

# Qt
/lib/upipe-qt/moc_thumbnail.cpp

# pkg-config
*.pc

# built files
*.o
*.log
*.trs
*.swp
*~
.libs
.deps

# cscope files
cscope.*
