
<!-- 
 @@tags@@ are replaced by values of `tags' configuration options.
 Lines with reference to not defined configuration options are discarded.
 -->

<div class="center">
 <div style="clear: both; height:70px;"></div>
 <h1>@@doc_title@@</h1>
 <div style="clear: both; height:30px;"></div><h3>@@doc_subtitle@@</h3>
 <div style="clear: both; height:70px;"></div>
 <img src="logo-big.png" alt="logo" /><!-- @@doc_logo@@ -->
 <div style="clear: both; height:70px;"></div>
 <h4>@@doc_author@@</h4>
 <h4>@@doc_date@@</h4>
 <div style="clear: both; height:70px;"></div>
</div>

